.FO-background{
  margin-top: 100px;
  width: 100%;
  background-image: url("../image/nebbolosa.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 1px;
}

.head{
  
  margin-top: 20px;
  position: relative;
  bottom: 0px;
}

.head img{
  width: 50%;
  margin: auto;
  display: block;
}

.experts{
  position: absolute;
  top: -20%;
  left: 0px;
  right: 0px;
  margin: auto;
  max-width: 1600px;
}

.text{
  position: absolute;
  color: white;
  top: 40%;
  left: 0px;
  right: 0px;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.text h1{
  font-size: 2.5rem;
}
.text p{
  font-size: 1.5rem;
  margin-top: 10px;
}
.actin-call-01{
  background: rgb(10,144,127);
  background: linear-gradient(270deg, rgba(10,144,127,1) 20%, rgba(186,0,255,1) 100%);
  margin-top: 25px !important;
  display: block;
  width: fit-content;
  padding: 10px 40px;
  border-radius: 30px;
  margin: auto;
  font-weight: 700;
  font-size: 1.5rem;
}

.actin-call-01:hover{
  background: rgb(10,144,127);
  background: linear-gradient(90deg, rgba(10,144,127,1) 20%, rgba(186,0,255,1) 100%);
}

small{
  font-size: 0.5rem;
  opacity: 0.9;
}