.Exclusive-body{
  margin-top: 50px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.Exclusive-body h2{
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.exclusive-infos{
  position: relative;
}

.exclusive-infos img{
  margin-top: 20px;
  width: 100%;
}

.exclusive-courses{
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  margin: 30px;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

.exclusive-series-card{
  margin-right: 20px;
  width: 140px;
  height: 240px;
}

.exclusive-card img{
  width: 100%;
  height: 100%;
}

.exclusive-description img{
  width: 200px;
}

.exclusive-description p, .exclusive-description h3 {
  width: 350px;
  color: white;
}

.exclusive-description h3{
  margin-top: 20px;
}

.exclusive-calling{
  font-weight: 700;
  font-size: 1.2rem;
  width: 200px;
  margin-bottom: 40px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  background: rgb(10,144,127);
  background: linear-gradient(270deg, rgba(10,144,127,1) 20%, rgba(186,0,255,1) 100%);
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}
.exclusive-calling:hover{
  background: rgb(10,144,127);
  background: linear-gradient(90deg, rgba(10,144,127,1) 20%, rgba(186,0,255,1) 100%);
}

.exclusive-sounds{
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 0px;
  margin: 30px;
  padding: 1px;
  width: 100%;
  height: 300px;
}

.exclusive-sounds-card{
  margin-right: 20px;
}

.exclusive-sounds-card img{
  height: 280px;
}